@import "main.scss";

body {
  overflow: hidden;
}

.container-fluid, .row-full, .col-full {
  height: 100%;
}

section {
  width: 100%;
  height: 100vh;
  padding: 1%;
  overflow: hidden;
}

section.logos {
  background-color: $gray-lighter;
  img {
    max-height: 20vh;
    max-width: 80%;
  }
  [class*="col-"] {
    @extend .pull-left;
    margin-top: 3%;
  }
}

h1 {
  font-size: 4vw;
  span {
    color: $gray-lighter;
    font-size: 3vw;
  }
}

h2 {
  font-size: 3vw;
  span {
    color: $gray-lighter;
  }
}

h3 {
  font-size: 2vw;
  color: $brand-primary;
  span {
    color: $gray-lighter;
  }
}

.next-block {
  background-color: $gray-darker;
  h1 {
    font-size: 2.5vw;
    span {
      color: $gray-lighter;
      font-size: 2vw;
    }
  }

  h2 {
    font-size: 2vw;
    span {
      color: $gray-lighter;
    }
  }

  h3 {
    font-size: 2vw;
    color: $brand-primary;
    span {
      color: $gray-lighter;
    }
  }
}

#main {
  background-image: url('../images/patagonia-bg.png');
  background-position: top;
  background-size: cover;
  padding-top: 7%;

  .logo {
    img {
      width: 90%;
    }
  }

  .title {
    padding-top: 5%;
    text-align: left;
    h1 {
      font-size: 6.5vw;
    }
    h2 {
      font-size: 5vw;
    }
    h3 {
      font-size: 3.5vw;
      color: $gray-lighter;
    }
  }
  h1, h2, h3 {
    line-height: 1.1;
  }
}

.twitter-widget {
  height: auto;
}
