$icon-font-path: '../fonts/';

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Cantarell);

@import "_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: $navbar-height;
}

section {
  padding-top: 30px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/cuyo-bg.png');
  background-position: bottom;
  background-size: cover;

  ul {
    font-size: ceil(($font-size-small * 0.9));
    li {
      margin-bottom: 10px;
    }
  }
}

nav {
  font-family: $font-family-special;
  .btn {
    border: none;
  }
}

h1 {
  color: $brand-warning;
}

h2 {
  color: $brand-primary;
  a {
    color: $brand-warning;
    font-size: floor(($font-size-h2 * 0.8));
  }
  a:hover {
    color: darken($brand-warning, 15%);
  }
}

h3 {
  color: $gray-lighter;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}

ul {
  list-style-position: inside;
  padding: 0;
}

strong {
  color: $brand-warning;
}

.navbar-brand {
  font-weight: bold;
}

.logo {
  img {
    width: 90%;
  }
}

.title {
  text-align: left;
  img {
    padding-right: 2%;
  }
  .geoinquietos-logo {
    width: 50%;
  }
  .ign-logo {
    width: 30%;
  }
  h1 {
    font-size: floor(($font-size-base * 5.0));
  }
  h2 {
    font-size: floor(($font-size-base * 4.0));
  }
  h3 {
    font-size: floor(($font-size-base * 2.5));
  }
}

.register-button {
  margin-top: 20px;

  a.btn {
    font-size: $font-size-h4;
    font-family: $font-family-base;
  }
}

#main {
  background-image: url('../images/patagonia-bg.png');
  background-position: top;
  background-size: cover;

  padding-top: 100px;
  padding-bottom: 100px;
}

#main h1,
#main h2,
#main h3 {
  line-height: 1.1;
}

#lugar {
  background-image: url('../images/litoral-bg.png');
  background-position: center;
  background-size: cover;
}

#map {
  height: 450px;
  margin-bottom: 20px;
}

section.logos {
  background-color: $gray-lighter;
  img {
    max-height: 120px;
  }
  h3 {
    color: $brand-primary;
  }
  [class*="col-"] {
    @extend .pull-left;
    margin-bottom: 30px;
  }
}

.agenda {
  margin-bottom: 30px;

  .row {
    border-bottom: 1px solid $gray-lighter;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.popover-content {
  text-align: center;
  font-size: 14px;
}

@media (max-width: $screen-sm-max) {
  .logo, .title {
    text-align: center;
  }
  .title {
    h1 {
      font-size: floor(($font-size-base * 3.0));
    }
    h2 {
      font-size: floor(($font-size-base * 2.5));
    }
    h3 {
      font-size: floor(($font-size-base * 1.5));
    }
  }
  h1 {
    font-size: floor(($font-size-h1 * 0.8));
  }

  h2 {
    font-size: floor(($font-size-h2 * 0.8));
  }

  h3 {
    font-size: floor(($font-size-h3 * 0.8));
  }

  h4 {
    font-size: floor(($font-size-h4 * 0.8));
  }

  section {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  #map {
    height: 300px;
  }

  section.logos {
    img {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}
