$icon-font-path: '../fonts/';

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Cantarell);

@import "_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1 {
  color: $brand-warning;
}

h2 {
  color: $brand-primary;
  a {
    color: $brand-warning;
    font-size: floor(($font-size-h2 * 0.8));
  }
  a:hover {
    color: darken($brand-warning, 15%);
  }
}

h3 {
  color: $gray-lighter;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}
