<section id="banner" class="banner">
  <div class="organizers">
    <a href="https://wiki.osgeo.org/wiki/Category:Geoinquietos_Argentina">
      <img src="{{geoinquietosLogo}}" class="geoinquietos" />
    </a>
    <a href="http://wiki.openstreetmap.org/wiki/WikiProject_Argentina">
      <img src="{{osmArLogo}}" class="osm-ar" />
    </a>
    <a href="http://www.ign.gob.ar">
      <img src="{{ignLogo}}" class="ign" />
    </a>
  </div>
  <h1>FOSS4G＋SOTM<br />Argentina 2017</h1>
  <h2>Conferencia de Geomática Libre</h2>
  <h4>23 al 28 de octubre</h4>
  <h4>Instituto Geográfico Nacional</h4>
  <img src="{{logo}}" class="logo" /><br />
  <a href="https://www.papercall.io/foss4g-sotm" target="_blank" class="button button-info button-big">
    Hablá en la conferencia!
  </a>
</section>
