<section id="banner" class="banner">
  <img src="{{logo}}" class="logo" />
  <h1>FOSS4G＋SOTM Argentina 2017</h1>
  <h2>Conferencia de Geomática Libre</h2>
  <h3>23 al 28 de octubre</h3>
  <h4>Instituto Geográfico Nacional</h4>
  <div class="organizers">
    <a href="https://wiki.osgeo.org/wiki/Category:Geoinquietos_Argentina">
      <img src="{{geoinquietosLogo}}" class="geoinquietos" />
    </a>
    <a href="http://wiki.openstreetmap.org/wiki/WikiProject_Argentina">
      <img src="{{osmArLogo}}" class="osm-ar" />
    </a>
  </div>
</section>
