<section id="calendario" class="calendar">
  <h3>Calendario</h3>
  <h4>Fechas importantes</h4>
  <table>
    <tr>
      <th></th>
      <th>Desde</th>
      <th>Hasta</th>
      <th></th>
    </tr>
    <tr>
      <th><s>Convocatoria de ponencias</s></th>
      <td><s>Lunes 20/02</s></td>
      <td><s>Viernes 04/08</s></td>
      <td><i>Finalizado</i></td>
    </tr>
    <tr>
      <th><s>Inscripciones con descuento</s></th>
      <td><s>Sábado 25/02</s></td>
      <td><s>Viernes 08/09</s></td>
      <td><i>Finalizado</i></td>
    </tr>
    <tr>
      <th><s>Inscripciones</s></th>
      <td><s>Sábado 09/09</s></td>
      <td></td>
      <td><i>Finalizado</i></td>
    </tr>
  </table>
  <!-- <h4>Eventos pre-conferencia</h4>
   <table>
     <tr>
       <th></th>
       <th>Día</th>
       <th>Hora</th>
       <th></th>
     </tr>
     <tr>
       <th>Introducción a la teledetección</th>
       <td>Viernes 22/09</td>
       <td>16:00 - 19:00</td>
       <td><a href="https://www.eventbrite.com.ar/e/pre-taller-introduccion-a-la-teledeteccion-tickets-37820776962" target="_blank" class="button button-soft">Inscribite</a></td>
     </tr>
   </table> -->
</section>
