<section id="calendario" class="calendar">
  <h3>Calendario</h3>
  <table>
    <tr>
      <th></th>
      <th>Desde</th>
      <th>Hasta</th>
    </th>
    <tr>
      <th>Convocatoria de ponencias</th>
      <td>Lunes 20/02</td>
      <td>Viernes 21/07</td>
    </tr>
    <tr>
      <th>Inscripciones con descuento</th>
      <td>Sábado 25/02</td>
      <td>Jueves 31/08</td>
    </tr>
    <tr>
      <th>Inscripciones</th>
      <td>Viernes 01/09</td>
      <td>Domingo 22/10</td>
    </tr>
  </table>
  <h4>Pre-eventos</h4>
  <table>
    <tr>
      <th></th>
      <th>Día</th>
      <th>Hora</th>
    </th>
    <tr>
      <th>Un coso de QGIS</th>
      <td>Lunes 20/02</td>
      <td>17:00</td>
    </tr>
    <tr>
      <th>Otro coso de QGIS</th>
      <td>Lunes 22/02</td>
      <td>11:00</td>
    </tr>
  </table>
</section>
