<section id="calendar" class="calendar">
  <h3>Calendario</h3>
  <ul>
    <li><strong>Convocatoria de ponencias:</strong></li>
    <li>lun. 20/02 al vie. 21/07</li>
    <li><strong>Inscripciones con descuento:</strong></li>
    <li>xxxxx al jue. 31/08</li>
    <li><strong>Inscripciones:</strong></li>
    <li>vie. 01/09 al dom. 22/10</li>
  </ul>
</section>
