<section id="calendario" class="calendar">
  <h3>Calendario</h3>
  <h4>Fechas importantes</h4>
  <table>
    <tr>
      <th></th>
      <th>Desde</th>
      <th>Hasta</th>
      <th></th>
    </tr>
    <tr>
      <th><s>Convocatoria de ponencias</s></th>
      <td><s>Lunes 20/02</s></td>
      <td><s>Viernes 04/08</s></td>
      <td><i>Finalizado</i></td>
    </tr>
    <tr>
      <th>Inscripciones con descuento</th>
      <td>Sábado 25/02</td>
      <td>Jueves 31/08</td>
      <td><a href="http://geoinquietosar.eventbrite.com/" target="_blank" class="button button-soft">Inscribite</a></td>
    </tr>
    <tr>
      <th>Inscripciones</th>
      <td>Viernes 01/09</td>
      <td>Domingo 22/10</td>
      <td></td>
    </tr>
  </table>
  <h4>Eventos pre-conferencia</h4>
    <table>
      <tr>
        <th></th>
        <th>Día</th>
        <th>Hora</th>
        <th></th>
      </tr>
      <tr>
        <th><s>Webinario Base de datos geoespaciales con PostGIS</s></th>
        <td><s>Lunes 12/06</s></td>
        <td><s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Taller de análisis geoespacial con QGIS en la UNLa</s></th>
        <td><s>Viernes 23/06</s></td>
        <td><s>16:30</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Webinario Base de datos geoespaciales con PostGIS</s></th>
        <td><s>Lunes 03/07</s></td>
        <td><s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Base de datos geoespaciales con PostGIS</s></th>
        <td><s>Miércoles 05/07</s></td>
        <td><s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Introducción al uso de Python en GIS</s></th>
        <td><s>Viernes 07/07</s></td>
        <td><s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Webinario Base de datos geoespaciales con PostGIS II</s></th>
        <td><s>Lunes 10/07</s></td>
        <td><s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
    </table>
</section>
