<section id="calendario" class="calendar">
  <h3>Calendario</h3>
  <table>
    <tr>
      <th></th>
      <th>Desde</th>
      <th>Hasta</th>
    </th>
    <tr>
      <th>Convocatoria de ponencias</th>
      <td>Lunes 20/02</td>
      <td>Viernes 21/07</td>
    </tr>
    <tr>
      <th>Inscripciones con descuento</th>
      <td>Sábado 25/02</td>
      <td>Jueves 31/08</td>
    </tr>
    <tr>
      <th>Inscripciones</th>
      <td>Viernes 01/090</td>
      <td>Domingo 22/10</td>
    </tr>
  </table>
</section>
