<section id="calendario" class="calendar">
  <h3>Calendario</h3>
  <h4>Fechas importantes</h4>
  <table>
    <tr>
      <th></th>
      <th>Desde</th>
      <th>Hasta</th>
      <th></th>
    </tr>
    <tr>
      <th><s>Convocatoria de ponencias</s></th>
      <td><s>Lunes 20/02</s></td>
      <td><s>Viernes 04/08</s></td>
      <td><i>Finalizado</i></td>
    </tr>
    <tr>
      <th>Inscripciones con descuento</th>
      <td>Sábado 25/02</td>
      <td>Jueves 31/08</td>
      <td><a href="https://www.eventbrite.com.ar/e/foss4g-sotm-2017-argentina-tickets-32254744810" target="_blank" class="button button-soft">Inscribite</a></td>
    </tr>
    <tr>
      <th>Inscripciones</th>
      <td>Viernes 01/09</td>
      <td>Domingo 22/10</td>
      <td></td>
    </tr>
  </table>
  <h4>Agenda</h4>
  <table>
    <tr>
      <td>Lunes 23</td>
      <td>Evento especial <a href="http://www.geoforall.org/">Geo4All</a> para universidades <small><sup><a href="#ref1">1</a></sup></small></td>
      <td></td>
    </tr>
    <tr>
      <td>Martes 24 y miércoles 25</td>
      <td>Talleres</td>
      <td><i>Próximamente</i></td>
    </tr>
    <tr>
      <td>Jueves 26 y viernes 27</td>
      <td>Presentaciones y charlas</td>
      <td><a href="https://www.eventbrite.com.ar/e/foss4g-sotm-2017-argentina-tickets-32254744810" target="_blank" class="button button-soft">Inscribite</a></td>
    </tr>
    <tr>
      <td>Sábado</td>
      <td>Mapatón + Hackatón <small><sup><a href="#ref2">2</a></sup></small></td>
      <td><i>Próximamente</i></td>
    </tr>
  </table>
  <p id="ref1"><small><sup><a href="#ref1">1</a></sup> Si formás parte de una universidad y te interesa el evento, escribinos a <a href="mailto:info@foss4g-ar.org?subject=geo4all">info@foss4g-ar.org</a></small></p>
  <p id="ref2"><small><sup><a href="#ref2">2</a></sup> Si trabajás con datos/mapas libres y tenés alguna propuesta para el mapatón/hackatón, escribinos a <a href="mailto:info@foss4g-ar.org?subject=hackaton">info@foss4g-ar.org</a></small></p>
</section>
