<section id="calendario" class="calendar">
  <h3>Calendario</h3>
  <h4>Fechas importantes</h4>
  <table>
    <tr>
      <th></th>
      <th>Desde</th>
      <th>Hasta</th>
      <th></th>
    </tr>
    <tr>
      <th>Convocatoria de ponencias</th>
      <td>Lunes 20/02</td>
      <td>Viernes 21/07</td>
      <td><a href="https://www.papercall.io/foss4g-sotm" target="_blank" class="button button-soft">Subí tu propuesta</a></td>
    </tr>
    <tr>
      <th>Inscripciones con descuento</th>
      <td>Sábado 25/02</td>
      <td>Jueves 31/08</td>
      <td><a href="http://geoinquietosar.eventbrite.com/" target="_blank" class="button button-soft">Inscribite</a></td>
    </tr>
    <tr>
      <th>Inscripciones</th>
      <td>Viernes 01/09</td>
      <td>Domingo 22/10</td>
      <td></td>
    </tr>
  </table>
  <h4>Eventos pre-conferencia</h4>
    <table>
      <tr>
        <th></th>
        <th>Día</th>
        <th>Hora</th>
        <th></th>
      </tr>
      <tr>
        <th><s>Webinario Base de datos geoespaciales con PostGIS</s></th>
        <td><s>Lunes 12/06</s></td>
        <td><s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Taller de análisis geoespacial con QGIS en la UNLa</s></th>
        <td><s>Viernes 23/06</s></td>
        <td><s>16:30</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th><s>Webinario Base de datos geoespaciales con PostGIS</s></th>
        <td><s>Lunes 03/07</s></td>
        <td></s>18:00</s></td>
        <td><i>Finalizado</i></td>
      </tr>
      <tr>
        <th>Base de datos geoespaciales con PostGIS</th>
        <td>Miércoles 05/07</td>
        <td>18:00</td>
        <td><i>Exclusivo alumnos UNTREF</i></td>
      </tr>
      <tr>
        <th>Introducción al uso de Python en GIS</th>
        <td>Viernes 07/07</td>
        <td>18:00</td>
        <td><i>Exclusivo alumnos UNTREF</i></td>
      </tr>
      <tr>
        <th>Webinario Base de datos geoespaciales con PostGIS II</th>
        <td>Lunes 10/07</td>
        <td>18:00</td>
        <td><a href="https://www.eventbrite.com.ar/e/webinario-base-de-datos-geoespaciales-con-postgis-ii-tickets-35901814293" target="_blank" class="button button-soft">Inscribite</a></td>
      </tr>
    </table>
</section>
