<section id="faqs" class="faqs">
  <h3>Preguntas Frecuentes</h3>
  <dl>
    <dt class="active">¿Cómo me anoto para asistir a la conferencia?</dt>
    <dd>
      <p>Las inscripciones y pago de entradas se realizarán a través del sistema
        Eventbrite y se habilitarán en las fechas marcadas en el calendario.</p>
    </dd>

    <dt>¿Cómo me anoto a los talleres y a la conferencia?</dt>
    <dd>
      <p>Las distintas actividades tendrán cada una su inscripción, para más
        información ver Programa (estará disponible más adelante) y Calendario.</p>
      <p>Cada taller tendrá su entrada individual, cada uno tiene un costo de
        $300 y los cupos son limitados. Recomendamos realizar la inscripción con
        suficiente tiempo de anticipación.</p>
      <p>Para la conferencia de Jueves y Viernes habrá una entrada general,
        separada de los talleres. La misma tiene un costo de $360, pero podés
        comprarla con descuento de un 20% desde el 25/02/2017 hasta el
        31/08/2017; luego de esa fecha tendrás que pagar el costo total.</p>
    </dd>

    <dt>¿Cómo sé si queda cupo para los talleres?</dt>
    <dd>
      <p>Ingresando al link de cada taller en Eventbrite, se podrá ver cuántos
        cupos disponibles hay en ese momento. Habrá lista de espera en caso que
        haya cancelaciones, pero esto no da seguridad de que se vaya a abrir una
        vacante. Los cupos de los talleres no se ampliarán, dado que el espacio
        en las salas de capacitación es limitado.</p>
    </dd>

    <dt>Me anoté a un taller, ¿y ahora?</dt>
    <dd>
      <p>Pronto estaremos enviándote los requisitos de software que nos indiquen
        los docentes.</p>
      <p>Será necesario traer computadora portátil para participar
        de los talleres ya que son totalmente prácticos, no te la olvides!</p>
      <p>Recomendamos además traer alargue y/o zapatilla, dado que el acceso a
        enchufes es limitado y todos lo necesitan.</p>
      <p>Si bien habrá WiFi disponible, recomendamos descargar el software
        necesario antes de venir dado que habrá mucha gente utilizándolo.</p>
    </dd>

    <dt>¿Habrá WiFi durante el evento?</dt>
    <dd>
      <p>Sí, intentaremos que sea de la mejor calidad posible, pero dado que
        habrá muchos usuarios a la vez, rogamos conectar solo un dispositivo a la
        vez (computadora portátil ó celular) y ser solidario con su uso.</p>
    </dd>

    <dt>Si ya compré mi entrada, ¿cómo hago para obtener factura/recibo de mi
      pago?</dt>
    <dd>
      <p>Las facturas y recibos de las entradas serán realizadas por el Centro
        Argentino de Cartografía. Para que podamos realizar las mismas hay que
        enviar el comprobante de pago de la tarjeta de crédito o el ticket de
        Pago mis cuentas o Pago Fácil por mail a info@foss4g-ar.org, indicando la
        razón social a quien va dirigido y el número de CUIT/CUIL. Rogamos envíen
        esta información con tiempo dado que es un proceso que se hace a mano y
        el día de la conferencia todos estarán realizando esta solicitud.</p>
    </dd>

    <dt>No me dedico a la geomática, ¿puedo asistir a la conferencia?</dt>
    <dd>
      <p>Sí, la conferencia está abierta para TOD@S. Bienvenid@s!</p>
    </dd>

    <dt>Si no programo, desarrollo o escribo código, ¿esta conferencia es para
      mí también?</dt>
    <dd>
      <p>Sí, este evento es para todo tipo de personas interesadas en compartir
        experiencias sobre mapas, desde desarrollador@s que escriben código a
        usuari@s de software de geomática, gente que toma decisiones,
        investigador@s, estudiantes y cualquiera que quiera aprender, compartir y
        conocer gente afín!</p>
    </dd>

    <dt>No me pude anotar antes, ¿puedo ir sin inscripción?</dt>
    <dd>
      <p>Para la conferencia sí, pero la entrada se cobrará únicamente en
        efectivo. Para los talleres recomendamos realizar la inscripción con
        anterioridad dado que los cupos son limitados y se agotan rápidamente; es
        muy probable que ese día ya no haya cupos disponibles.</p>
    </dd>

    <dt>Necesito certificado para justificar mi asistencia al evento, ¿se
      entregarán?</dt>
    <dd>
      <p>Sí, para todas las actividades. Vamos a estar enviando certificados
        durante los 10 días siguientes a la finalización del evento vía email.
        Les pedimos paciencia, haremos todo lo posible para que estén cuanto
        antes.</p>
    </dd>

    <dt>¿Que incluye el costo de la entrada?</dt>
    <dd>
      <p>El costo de la entrada de la conferencia incluye el ingreso a todas las
        charlas y conferencias de los días Jueves y Viernes (no a los talleres),
        el almuerzo y coffee breaks, la remera y bolsa de materiales. Las
        actividades del Lunes y del Sábado son gratuitas.</p>
      <p>No se incluirá el programa impreso, dado nuestro compromiso con el
        ahorro de papel. Podrás ver el detalle de actividades online en nuestra
        página y en la pantalla que estará cerca de la mesa de registración.</p>
    </dd>
  </dl>
</section>
