<footer>
  <h5>Notas:</h5>
  <ul>
    <li>La conferencia pretende ser un evento libre de discriminación de cualquier tipo y brindar un espacio de intercambio de experiencias sin importar sexo, orientación sexual, discapacidad, apariencia física, tamaño corporal, raza o religión.</li>
    <li>Los organizadores se reservan el derecho a denegar la entrada o expulsar a cualquier individuo que sea descubierto involucrado en acciones o discursos ofensivos.</li>
  </ul>
</footer>
