<nav class="navbar">
  <ul>
    <li id="homeMenu">
      <a href="#">
        <img src="{{logo}}" class="logo" />
      </a>
    </li>
    <li>
      <a href="#acerca">
        <div></div>
        <span>Acerca de la conferencia</span>
      </a>
    </li>
    <li>
      <a href="#calendar">
        <div></div>
        <span>Calendario</span>
      </a>
    </li>
    <li>
      <a href="#lugar">
        <div></div>
        <span>El lugar</span>
      </a>
    </li>
  </ul>
</nav>
