<nav class="navbar">
  <ul>
    <li>
      <a href="#">
        <img src="{{logo}}" class="logo" />
      </a>
    </li>
    <li>
      <a href="#acerca">
        <div></div>
        <span>Acerca de la conferencia</span>
      </a>
    </li>
    <li>
      <a href="#calendario">
        <div></div>
        <span>Calendario</span>
      </a>
    </li>
    <li>
      <a href="#lugar">
        <div></div>
        <span>El lugar</span>
      </a>
    </li>
    <li>
      <a href="#oradores">
        <div></div>
        <span>Oradores</span>
      </a>
    </li>
    <li>
      <a href="#agenda">
        <div></div>
        <span>Agenda</span>
      </a>
    </li>
    <li>
      <a href="#patrocinadores">
        <div></div>
        <span>Patrocinadores</span>
      </a>
    </li>
    <li>
      <a href="#faqs">
        <div></div>
        <span>Preguntas Frecuentes</span>
      </a>
    </li>
  </ul>
</nav>
