<section id="lugar" class="venue">
  <h3>El lugar</h3>
  <div class="content">
    <div id="venueMap" class="map">
    </div>
    <div class="text">
      <p>El <a target="_blank" href='http://www.ign.gob.ar'>Instituto Geográfico Nacional</a> es un organismo público que tiene como misión principal representar el territorio nacional a través de la cartografía oficial y velar para que los mapas de la República Argentina que se confeccionen, ingresen o circulen en el país se ajusten a dicha cartografía oficial.</p>
      <p>Siendo un organismo tan importante dentro del ambiente de la geomática, es un placer, un orgullo y un honor contar con sus instalaciones para llevar a cabo este evento que busca fortalecer la comunidad en torno a los sistemas de información geográfica y los datos geoespaciales.</p>
      <p>El IGN cuenta con un auditorio para aproximadamente 180 personas y varias salas pequeñas para desarrollar los talleres prácticos y las exposiciones.</p>
      <p>Está ubicado sobre la calle Cabildo, en el barrio de Palermo y tiene fácil acceso a través de transporte público.</p>
    </div>
  </div>
</section>
