$primary-color: #5A555B !default;
$accent-color:  #F3DC56 !default;
$info-color:    #44C0F0 !default;
$soft-color:    #A4D6D5 !default;
$light-color:   #EEEEEE !default;
$dark-color:    #333333 !default;
$alert-color:   #E60000 !default;

$primary-dark: darken($primary-color, 10%) !default;
$accent-dark:  darken($accent-color, 20%) !default;
$info-dark:    darken($info-color, 20%) !default;
$soft-dark:    darken($soft-color, 30%) !default;

$font-family-base: 'OrkneyRegular', Sans-Serif !default;
$font-family-alt: 'GlacialIndifferenceRegular', Sans-Serif !default;
$font-size-base: 20px !default;

$default-spacing: 10px;
$border-radius: $default-spacing / 2;

$mobile-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1600px;

$splitter-border: 1px solid lighten($dark-color, 10%);

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}
