$primary-color: #5A555B !default;
$accent-color:  #F3DC56 !default;
$info-color:    #44C0F0 !default;
$soft-color:    #A4D6D5 !default;
$light-color:   #EEEEEE !default;
$dark-color:    #333333 !default;

$font-family-base: 'GlacialIndifferenceRegular', Sans-Serif !default;
$font-family-alt:  'OrkneyRegular', Sans-Serif !default;
$font-size-base:   18px !default;
