@import '_variables.scss';

section.banner {
  text-align: center;
  justify-content: center;
  background-image: none;
  background-color: rgba($dark-color, 0.5);
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;


  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    line-height: normal;
  }

  h3 {
    background-color: transparent;
    font-size: 2.5em;
    color: $soft-color;
  }

  .button {
    font-size: 1.5em;
  }

  .ribbon {
    display: inline-block;
    position: relative;
    top: -1.1em;
    right: 4.5em;
    height: 0;
    line-height: 1.7em;
    font-size: 0.75em;
    font-weight: bold;
    color: $light-color;
    border-bottom: 1.5em solid $alert-color;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    transform: rotate(45deg);
    margin-right: -6em;
  }

  .organizers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $default-spacing * 10;
    flex-wrap: wrap;
    margin: $default-spacing * 6 0 $default-spacing * 6 0;

    img {
      max-height: 80%;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }

    .osm-ar {
      margin-top: 0.8em;
    }
  }

  .supporters {
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      max-height: 60%;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include tablet {
  section.banner {
    .organizers {
      height: $default-spacing * 5;
    }

    .supporters {
      max-height: 10%;
    }
  }
}
