@import '_variables.scss';

.banner {
  min-height: 100%;
  background-color: rgba($dark-color, 0.75);
  text-align: center;
  justify-content: center;

  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .logo {
    width: 3em;
  }

  .organizers {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      max-height: 7em;
      padding: 1em;
    }

    .osm-ar {
      margin-top: 0.8em;
    }
  }
}

@include tablet {
  .banner {
    .organizers {
      img {
        max-height: 5em;
      }
    }
  }
}
