@import '_variables.scss';

footer {
  background-color: $dark-color;
  font-size: 0.8em;

  padding: $default-spacing * 2 $default-spacing * 4 $default-spacing $default-spacing * 8;

  ul {
    list-style: none;
    padding: 0;
  }
}

@include tablet {
  footer {
    padding: $default-spacing $default-spacing * 2 $default-spacing / 2 $default-spacing * 2.5;
  }
}
