@import url(//fontlibrary.org/face/glacial-indifference);
@import url(//fontlibrary.org/face/orkney);

@import '_variables.scss';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3em;
  color: $accent-color;
}

h2 {
  font-size: 2.6em;
  color: $info-color;
}

h3 {
  font-size: 2.2em;
  color: $soft-color;
}

h4 {
  font-size: 1.8em;
  color: $light-color;
}

section {
  padding: 2em;
}

.banner {
  text-align: center;
  .logo {
    width: 12em;
  }

  .organizers {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      max-height: 7em;
      padding: 1em;
    }

    .osm-ar {
      margin-top: 0.8em;
    }
  }
}
