@font-face {
  font-family: 'OrkneyRegular';
  src: url('../fonts/OrkneyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifferenceRegular';
  src: url('../fonts/GlacialIndifferenceRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import '_variables.scss';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-color: $dark-color;
  background-attachment: fixed;
  justify-content: center;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-alt;
  line-height: 1em;
  padding-left: 0;
  padding-right: 0;
}

h1 {
  font-size: 4.5em;
  color: $accent-color;
}

h2 {
  font-size: 3.2em;
  color: $info-color;
}

h3 {
  font-size: 2em;
  color: $dark-color;
  background-color: $accent-color;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin-top: 0;
  text-align: center;
  border-radius: $border-radius * 2;
}

h4 {
  font-size: 1.5em;
  color: $info-color;
  padding: 0.3em 0.3em 0.3em 0;
  border-bottom: 1px solid $info-color;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.5em;
  color: $light-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
  padding: 0.5em;
  padding-bottom: 0.25em;
  text-decoration: none;
  transition-duration: 0.3s;
  border-bottom: 0.25em solid;
  color: $dark-color;
  border-radius: $border-radius;
  display: inline-block;

  &:hover {
    border-color: $dark-color;
  }
}

.button-primary {
  background: $primary-color;
  border-color: $primary-dark;
  color: $light-color;

  &:hover {
    background: $primary-dark;
    border-color: $light-color;
  }

}

.button-accent {
  background: $accent-color;
  border-color: $accent-dark;

  &:hover {
    background: $accent-dark;
  }
}

.button-info {
  background: $info-color;
  border-color: $info-dark;

  &:hover {
    background: $info-dark;
  }
}

.button-soft {
  background: $soft-color;
  border-color: $soft-dark;

  &:hover {
    background: $soft-dark;
  }
}

section {
  background-color: $dark-color;
  background-size: auto 75%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/iso-bg.png);
  background-attachment: fixed;

  padding: $default-spacing * 6 $default-spacing * 6 $default-spacing * 6 $default-spacing * 6;

  &:last-of-type {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba($dark-color, 1) 30%, rgba($dark-color, 0.8) 70%, rgba($dark-color, 0.2) 100%), url(../images/iso-bg.png);
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

p, ul {
  color: $light-color;

  strong {
    color: $accent-color;
  }
}

a {
  color: $info-color;
  text-decoration: none;
}

@include mobile {
  body {
    font-size: $font-size-base * 0.5;
  }

  h1 {
    font-size: 4em;
  }

  section {
    padding-left: $default-spacing;
    padding-right: $default-spacing;
    background-image: none;

    ul {
      list-style-position: inside;

      li:before {
        margin-left: -$default-spacing;
      }
    }
  }

  .button {
    border-radius: $border-radius / 2;
  }

  .leaflet-control-zoom {
    display: none;
  }
}
