@import '_variables.scss';

$item-color:        $accent-color;
$hover-background:  $info-color;
$hover-color:       $dark-color;

.navbar {
  position: fixed;
  width: $default-spacing * 6;
  top: $default-spacing / 2;
  left: 0;
  text-align: center;
  height: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: $default-spacing / 2 0 $default-spacing 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin: 0;
      padding: $default-spacing 0 $default-spacing 0;
      width: 100%;
      display: flex;
      justify-content: center;

      &:first-child {
        animation: scale 5s linear infinite;
        img {
          width: $default-spacing * 2.5;
          padding-left: 0.05em;
        }
      }

      &:not(:first-child) {
        display: none;
      }

      a {
        display: block;
        position: relative;
        text-decoration: none;
        color: $item-color;
        font-size: 0.8em;

        div {
          background: $item-color;
          border-radius: 100%;
          height: $default-spacing * 2;
          width: $default-spacing * 2;
        }

        span {
          line-height: $default-spacing * 4;
          transition: opacity 0.5s;
          background: $hover-background;
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          color: $hover-color;
          left: -3000px;
          opacity: 0;
          padding: 0  $default-spacing 0  $default-spacing;
          position: absolute;
          top: -$default-spacing;
          white-space: nowrap;

          &::after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: $hover-background;
            border-width: $default-spacing;
            margin-top: -$default-spacing;
          }
        }

        &:hover {
          div {
            background: $hover-background;
          }

          span {
            left: $default-spacing * 4;
            opacity: 1;
          }
        }
      }
    }
  }

  &:hover {
    ul {
      li {
        display: inherit;
      }
    }
  }
}

@include tablet {
  .navbar {
    display: none;
  }
}

@keyframes spin {
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
}
