@import '_variables.scss';

.speakers {
  .keynotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .speaker {
      margin: 0em 2em 2em 2em;
      text-align: center;

      .img-circle {
        border-radius: 50%;
        height: 10em;
      }

      .speaker-name {
        font-size: 1.2em;
        margin: 0.5em;
        color: $accent-color;
      }

      .speaker-org {
        font-style: italic;
        margin: 0;
      }
    }
  }

  .talks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .talk {
      font-size: 0.8em;
      width: 15em;
      padding: 1em;
      margin: 0.2em;
      background-color: rgba($light-color, 0.15);
      text-align: center;

      h5 {
        font-size: 1.2em;
        margin: 0;
      }

      p {
        color: $soft-color;
      }
    }
  }

  .agenda {
    table {
      font-size: 0.8em;
      color: $dark-color;
      width: 100%;
      text-align: center;

      td, th {
        padding: 0 1em 0 1em;
        p {
          color: $dark-color;
        }
      }

      th {
        color: $accent-color;

        &.schedule {
          white-space: nowrap;
          max-width: 200px;
        }
      }

      td {
        background-color: $info-color;

        &.break {
          background-color: $light-color;
        }

        &.keynote {
          background-color: $accent-color;
        }

        &.free {
          // background-color: $accent-color;
        }

        p.title {
          font-weight: bold;
        }

        p.speaker {
          font-size: 0.9em;
          font-style: italic;
        }
      }
    }
  }
}
