@import '_variables.scss';

section.sponsors {
  background-image: none;

  .silver {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: $splitter-border;

    img {
      max-width: 20em;
      max-height: 6em;
      padding: 1em;
    }
  }

  .bronze {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: $splitter-border;

    img {
      max-width: 13em;
      max-height: 4em;
      padding: 1em;
    }
  }
}
