@import '_variables.scss';
@import '~leafletCSS';

.venue {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1em 0 0 -0.5em;

    .text, .map {
      margin: 1em 0 0 1em;
      flex: 1;
      min-width: 400px;
    }

    .text {
      p:first-child {
        margin-top: 0;
      }
    }

    .map {
      min-height: 400px;
    }
  }
}

@include tablet {
  .venue {
    .content {
      .text, .map {
        min-width: 300px;
      }
    }
  }
}
